{% extends "layout.html" %}

{% block content %}
<div class="container ">
    <div class="sub-container row ">
        {% with msg = get_flashed_messages(with_categories=True) %}
            {% if msg %}
                {% for category, message in msg %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/add_property" method="post" enctype="multipart/form-data">
            <h1>Property Details : </h1>
            <hr>
            <div class="form-group row">
                <div class="mb-3 col-sm-4">
                    <label for="title" class="form-label">Title</label>
                </div>
                <div class="col-sm-8">
                    <input name="title" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-3 col-sm-4">
                    <label for="type" class="form-label">Type of your property :</label>
                </div>
                <div class="col-sm-8">
                    <select name="type" id="" class="form-control">
                      <option value="">Type</option>
                      <option value="Commercial">Commercial</option>
                      <option value="Office">- Office</option>
                      <option value="Residential">Residential</option>
                      <option value="Villa">Villa</option>
                      <option value="Condominium">Condominium</option>
                      <option value="Apartement">Apartement</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-3 col-sm-4">
                    <label for="description" class="form-label">Description</label>
                </div>
                <div class="col-sm-8">
                    <input name="description" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-3 col-sm-4">
                    <label for="price" class="form-label">Price</label>
                </div>
                <div class="col-sm-8">
                    <input name="price" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-3 col-sm-4">
                    <label for="address" class="form-label">Address</label>
                </div>
                <div class="col-sm-8">
                    <input name="address" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-3 col-sm-4">
                    <label for="bedrooms" class="form-label">Number of Bedrooms</label>
                </div>
                <div class="col-sm-8">
                    <input name="bedrooms" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-3 col-sm-4">
                    <label for="bathrooms" class="form-label">Number of Bathrooms</label>
                </div>
                <div class="col-sm-8">
                    <input name="bathrooms" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-3 col-sm-4">
                    <label for="space" class="form-label">Space</label>
                </div>
                <div class="col-sm-8">
                    <input name="space" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-3 col-sm-4">
                    <label for="status" class="form-label">Status :</label>
                </div>
                <div class="col-sm-8">
                    <select name="status" class="form-control">
                        <option value="For Sale">For Sale</option>
                        <option value="For Rent">For Rent</option>
                    </select>
                </div>
            </div>   
            <div class="col">
                <div class="mb-3">
                    <div class="col-md-4">
                        <div id="mapid"></div>
                    </div>
                </div>
            </div>    
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="file-upload-form" style="display: flex; flex-direction: column; gap: 22px;">
                            <div style="border: 2px solid black; border-radius: 22px; text-align: center; padding: 10px;">
                                <h2>Drop images here or browse files</h2>
                            </div>
                            <label for="file" class="file-upload-label">
                                <div class="file-upload-design">
                                    <svg viewBox="0 0 640 512" height="1em">
                                        <path d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z">
                                        </path>
                                    </svg>
                                    <p>Drag and Drop</p>
                                    <p>or</p>
                                    <span class="browse-button">Browse files</span>
                                </div>
                                <input type="file" id="file" name="images" multiple accept="image/*" >
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr>
            <div class="d-flex justify-content-end ">
                <button type="submit" class="btn btn-primary ">Save</button>
            </div>
        </form>
    </div>
</div>    

{% endblock %}
