<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Real Estate Agency{% endblock %}</title>
    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../static/style.css">

    <!-- Custom CSS -->
    {% block custom_css %}{% endblock %}
</head>
<body>
    <nav class="nav container">
        <a href="#" class="nav__logo">Logo</a>

        <div class="nav__menu" id="nav-menu">
           <ul class="nav__list">
              <li class="nav__item">
                 <a href="/home" class="nav__link">Home</a>
              </li>

              <li class="nav__item">
                 <a href="#" class="nav__link">About Us</a>
              </li>

              <li class="nav__item">
                 <a href="/properties" class="nav__link">all Properties</a>
              </li>

              <li class="nav__item">
                 <a href="#" class="nav__link">add Property</a>
              </li>
           </ul>
        </div>

        <div class="nav__actions">
           <!-- Login button -->
           <a href="/register"><i class="ri-user-line nav__login" id="login-btn"></i></a>

           <!-- Toggle button -->
           <div class="nav__toggle" id="nav-toggle">
              <i class="ri-menu-line"></i>
           </div>
        </div>
     </nav>

    <!-- Page content -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    
    <footer class="text-center bg-body-tertiary bottom">
      <!-- Grid container -->
      <div class="container pt-4">
          <!-- Section: Social media -->
          <section class="mb-4">
              <!-- Your social media icons here -->
          </section>
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright
          <a class="text-body" href="#">RealEstate</a>
      </div>
      <!-- Copyright -->
  </footer>
  

    <!-- Custom JavaScript -->
    {% block custom_js %}{% endblock %}
</body>
</html>
