{% extends "layout.html" %}
    
{% block content %}
<div class="container">
    {% with msg = get_flashed_messages(with_categories=True) %}
            {% if msg %}
                {% for category, message in msg %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
    {% endwith %}
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ property.image_path }}" alt="{{ property.title }}" width="250">
            </div>
            <!-- <div class="carousel-item">
            <img src="../static/img/property-2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img src="../static/img/property-3.jpg" class="d-block w-100" alt="...">
            </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <div class="row mt-5">
        <div class="col-md-8">
            <p>{{property.description}}</p>

            <img src="../static/img/profile2.jpg" alt="user-img" width="36" class="img-circle"><h1>Hosted By : {{ creator.posted_by.username }}</h1>
            <h4>Joined {{ creator.posted_by.created_at }}</h4>


            <div class="col-sm-12 col-md-6 col-xl-4">
                <div class="h-100 bg-light rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Calender</h6>
                        <a href="">Show All</a>
                    </div>
                    <div id="calender"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 property">
            <div id="mapid"></div>
        </div>
    </div>
</div>

{% endblock %}


