{% extends "admin/base.html" %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Properties</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Thumbnail</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Address</th>
                        <th scope="col">Bedrooms</th>
                        <th scope="col">Bathrooms</th>
                        <th scope="col">Space (m²)</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Seller ID</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for property in properties %}
                    <tr>
                        <td>
                            {% if property.image_paths %}
                                {% set first_image_path = property.image_paths[0] %}
                                <a href="/property/{{ property.id }}">
                                    <img src="{{ first_image_path }}" alt="{{ property.title }}" width="150">
                                </a>
                            {% else %}
                                <p>No image available for {{ property.title }}</p>
                            {% endif %}
                        </td>
                        <td>{{ property.title }}</td>
                        <td>{{ property.description }}</td>
                        <td>{{ property.price }}</td>
                        <td>{{ property.address }}</td>
                        <td>{{ property.bedrooms }}</td>
                        <td>{{ property.bathrooms }}</td>
                        <td>{{ property.space }}</td>
                        <td>{{ property.status }}</td>
                        <td>{{ property.created_at }}</td>
                        <td>{{ property.seller_id }}</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="/property/{{property.id}}">Details</a>
                            <form action="/delete_property/{{ property.id }}" method="POST" style="display: inline;">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
